.container {
  text-align: center;
}

h1 {
  font-size: 50px;
  color: #111;
}

h2 {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 50px;
  color: #111;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  /* 画像同士の間隔 */
  justify-content: center;
}

.gallery img {
  width: 300px;
  aspect-ratio: 3 / 4;
  /* アスペクト比を保持 */
  object-fit: cover;
  /* 画像が枠に収まらない場合の処理 */
  border: 2px solid #ddd;
  /* 任意: 枠線を追加 */
  border-radius: 8px;
  /* 任意: 角を丸める */
}